<div class="d-flex justify-center items-center h-100-vh" style="margin-top:25px">
    <div class="text-center h-100">
    
        <input id="searcher" class="radius-pill" style="padding-left:15px;font-size: 22px;margin-bottom:15px" type="text" (keydown)="search()">
        <label for="tagFilter"> Filter By Tag : </label>
        <select id="tagFilter" (change)="filterByTag($event)">
            <option value="">All</option>
            <option value="exercise">Exercise</option>
            <option value="productivity">Productivity</option>
            <option value="nutrition">Nutrition</option>
        </select>
        <div class="h-50">
            <post-card *ngFor="let article of articles" [article]="article"></post-card>
        </div>
        <div *ngIf="articles.length==0">
            Loading...
        </div>
    </div>
</div>
